<div id="HomeElementId">
    <MudGrid xs="12">
        <MudItem Class="mud-width-full" >
            <MudCarousel Style="height:60vh;" ShowArrows="true" ShowBullets="true" AutoCycle="true" TData="object">
                <MudCarouselItem Transition="@Transition.Slide" >
                    <MudImage Fluid="true" Src="img/business1.jpg"/>
                </MudCarouselItem> 
                <MudCarouselItem Transition="@Transition.Slide">
                    <MudImage Fluid="true" Src="img/business2.jpg"/>
                </MudCarouselItem>  
                <MudCarouselItem Transition="@Transition.Slide">
                    <MudImage Fluid="true" Src="img/business3.jpg"/>
                </MudCarouselItem>     
            </MudCarousel>
        </MudItem>
    <MudGrid Class="mt-10 pl-8 pr-8">
        <MudItem xs=12 sm="6">
             <MudPaper Elevation="0">
                <MudText Typo="Typo.h3" Style="font-weight:bold;text-align:center;" Class="mb-8 mt-16">Who are we?</MudText>
                <MudText Typo="Typo.body1" Style="text-align:center;">Nam vel mi nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec ligula elit, scelerisque ac euismod eget, tincidunt sodales risus. Fusce porta faucibus turpis et iaculis. Curabitur tempus felis enim, vel sollicitudin ipsum vehicula at. Cras ultricies mattis leo ac facilisis. Aenean mollis vestibulum laoreet. Donec ut consectetur urna. In hac habitasse platea dictumst. Maecenas eu nibh at ligula rhoncus finibus ac ut massa. Suspendisse purus nulla, ultrices sit amet nulla ac, consequat mollis velit. Duis ullamcorper ut nulla imperdiet congue. Donec maximus, neque sed vestibulum consequat, quam ex faucibus ligula, nec volutpat purus urna et ipsum. Nullam interdum ornare fringilla.</MudText>
             </MudPaper>
        </MudItem>
        <MudItem xs=12 sm="6">
             <MudPaper Class="d-flex justify-space-around flex-grow-1" Elevation="0">
                <MudImage ObjectFit="ObjectFit.Fill" Width="450" Height="400" Src="img/dubai.jpg" />
             </MudPaper>
        </MudItem>
     </MudGrid>
 </MudGrid>

 <MudGrid>
    <MudItem xs="12" Class="mud-width-full">
        <MudText Typo="Typo.h2" Class="mt-16 mb-4" Style="font-weight:bold;text-align:center;" Color="Color.Primary">MORE THAN 30 YEARS EXPERIENCE</MudText>
        <MudText Typo="Typo.h4" Class="mb-16"  Style="font-weight:bold;text-align:center;" Color="Color.Success">Get to know us and become our partner!</MudText>
    </MudItem>
</MudGrid>

<MudGrid Class="d-flex justify-center flex-grow-1">
    <MudItem xs="2" Class="ma-4">
        <MudPaper Class="pa-4" Height="500px">
            <MudImage Height="200" Width="200" ObjectFit="ObjectFit.Fill" Src="img/GirlWithBoyFly.jpg" />
            <MudText Class="mt-4" Typo="Typo.body1">Nam at molestie nunc. Morbi sit amet fermentum odio. Mauris ornare erat at ipsum faucibus, eget luctus urna pretium. Maecenas luctus orci vel bibendum auctor. In eget mi non diam lobortis finibus.</MudText>
        </MudPaper>
    </MudItem>
     <MudItem xs="2" Class="ma-4">
        <MudPaper Class="pa-4" Height="500px">
            <MudText Typo="Typo.h3" ></MudText>
            <MudImage Height="200" Width="200" ObjectFit="ObjectFit.Fill" Src="img/deskmeeting.jpg" />
            <MudText Class="mt-4" Typo="Typo.body1">Aliquam erat volutpat. Nulla sed felis nec neque aliquet vehicula. Donec dignissim justo et semper ultrices. Phasellus convallis ipsum a tellus posuere mollis. Nullam viverra pharetra arcu ut pulvinar.</MudText>
        </MudPaper>
    </MudItem>
     <MudItem xs="2" Class="ma-4">
        <MudText Typo="Typo.h3" ></MudText>
        <MudPaper Class="pa-4" Height="500px">
            <MudImage Height="200" Width="200" ObjectFit="ObjectFit.Fill" Src="img/happygroup.jpg" />
            <MudText Class="mt-4" Typo="Typo.body1">Praesent euismod nulla ac magna auctor, eu tristique magna semper. In placerat ultrices quam, sit amet finibus eros tempus vitae. In bibendum ex fermentum iaculis commodo.</MudText>
        </MudPaper>
    </MudItem>
     <MudItem xs="2" Class="ma-4">
        <MudText Typo="Typo.h3" ></MudText>
        <MudPaper Class="pa-4" Height="500px">
            <MudImage Height="200" Width="200" ObjectFit="ObjectFit.Fill" Src="img/service.jpg" />
            <MudText Class="mt-4" Typo="Typo.body1">Sed venenatis imperdiet tempor. Proin nunc arcu, placerat at pellentesque eget, faucibus ut magna. Vestibulum magna nunc, lobortis non ex id, porttitor volutpat risus.</MudText>
        </MudPaper>
    </MudItem>
</MudGrid>
</div>
 