<div id="ReferenceElementId">
<MudContainer>
<MudGrid>
    <MudItem Class="mud-width-full mt-16">
        <MudPaper Elevation="0" Style="@($"background:{Colors.Grey.Lighten5};")">
            <MudText Typo="Typo.h2" Class="mb-16 pt-16" Style="text-align:center;font-weight:bold;" Color="Color.Primary">OUR REFERENCES</MudText>
           <MudCarousel Style="height:600px;" ShowArrows="false" ShowBullets="false" AutoCycle="true" TData="object">
                <MudCarouselItem Transition="Transition.Fade">
                    <MudImage Class="rounded-lg" Fluid="true" ObjectFit="ObjectFit.Contain" Src="img/reference1.jpg"/>
                </MudCarouselItem>
                <MudCarouselItem Transition="Transition.Fade">
                    <MudImage Class="rounded-lg" Fluid="true" ObjectFit="ObjectFit.ScaleDown" Src="img/reference2.jpg"/>
                </MudCarouselItem>
                <MudCarouselItem Transition="Transition.Fade">
                    <MudImage Class="rounded-lg" Fluid="true" ObjectFit="ObjectFit.ScaleDown" Src="img/reference3.jpg"/>
                </MudCarouselItem>
                <MudCarouselItem Transition="Transition.Fade">
                    <MudImage Class="rounded-lg" Fluid="true" ObjectFit="ObjectFit.ScaleDown" Src="img/reference4.jpg"/>
                </MudCarouselItem>
            </MudCarousel>
        </MudPaper>
    </MudItem>
    <MudItem Class="mud-width-full">
         
    </MudItem>
</MudGrid>
</MudContainer>
</div>